.container {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  color:aqua;
    background-color: #fc0808;
}
.button {
  text-align: center;
  margin-top: 20px;
  color:#fc0808;
  background-color: black;
}
.text {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    }
.header {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    }
.footer {
    font-size: 14px;
    text-align: center;
    color: lightgray;
}
.link {
    color: lightblue;
    text-decoration: none;
    }
.link:hover {
    text-decoration: underline;
    }   
.image {
    border: 1px solid #000;
    padding: 5px;
    }